.navbar_sec {
  padding: 20px 0px !important;
  margin-bottom: 50px;
}
.cstm_form .form-group {
  margin-bottom: 20px !important;
}

.cstm_form .form-group button {
  max-width: 150px !important;
  width: 100%;
  padding: 10px 0px;
}
